{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Oddělení</h1>
		<table class="grid grid--show">
			<tbody>
				<tr>
					<th>Zkratka</th>
					<td>{{ department.shortcut }}</td>
				</tr>
				<tr>
					<th>Název</th>
					<td>{{ department.name }}</td>
				</tr>
				<tr>
					<th>Tel</th>
					<td>{{ department.telephone }}</td>
				</tr>
			</tbody>
		</table>


        {% include ':app/hospitalization:list.html.twig' with {'hospitalizations': hospitalizations} %}

		<ul>
			<li>
				<a href="{{ path('app_department_index') }}"class="btn btn--back">Zpět na výpis</a>
			</li>
		</ul>
	</div>
{% endblock %}
