{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">

		<h1>Seznam vyšetření</h1>

		{% include ':app/examination:list.html.twig' with {'examinations': examinations} %}

		<a href="{{ path('app_examination_new') }}" class="btn">Vytvořit nové vyšetření</a>
	</div>
{% endblock %}
