{% extends 'app/appBase.html.twig' %}

{% block body %}
    <h1>Examinations list</h1>

    {% include ':app/examination:list.html.twig' with {'examinations': examinations} %}

    <ul>
        <li>
            <a href="{{ path('app_examination_new') }}">Create a new examination</a>
        </li>
    </ul>
{% endblock %}
