{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">

		<h2>Vyšetření</h2>
        {{ form_start(form, {'attr' : {'class': 'fm'}}) }}
		<div class="fm__wrapper">
			<div class="fm__item--full">
                {{ form_row(form.report, { 'label': 'Zápis z vyšetření'}) }}
			</div>
            {{ form_widget(form) }}
			<div class="fm__btn">
				<input type="submit" value="Přidat vyšetření" class="btn" />
			</div>
		</div>
        {{ form_end(form) }}
	</div>
{% endblock %}
