{% extends 'admin/adminBase.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Zařazení lékaře na oddělení</h1>

		{{ form_start(form, {'attr' : {'class': 'fm'}}) }}
			{{ form_widget(form, {'attr' : {'class': 'fm__wrapper'}}) }}
			<div class="fm__btn">
				<input type="submit" value="Vytvořit" class="btn" />
			</div>
		{{ form_end(form) }}

		<ul>
			<li>
				<a href="{{ path('admin_doctor_show', {'id': doctorId}) }}" class="btn btn--back">Zpět na lékaře</a>
			</li>
		</ul>
	</div>
{% endblock %}
