{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">

		<h1>Seznam podání léků</h1>

		{% include ":app/drugApplication:list.html.twig" with {'applications': applications} only %}
	</div>
{% endblock %}
