{% if applications|length == 0 %}
	<p class="grid--empty">Žádná podání léku</p>
{% else %}
	<table class="grid">
		<thead>
			<tr>
				<th>Datum a čas podání</th>
				<th>Aplikováno osobou</th>
				<th>Akce</th>
			</tr>
		</thead>
		<tbody>
			{% for drugApplication in applications %}
				<tr>
					<td>{% if drugApplication.time %}{{ drugApplication.time|date('d.m.Y H:i:s') }}{% endif %}</td>
					<td>{{ drugApplication.appliedBy }}</td>
					<td>
						<a href="{{ path('app_drug_application_show', { 'id': drugApplication.id }) }}" class="btn--show" title="Detail"></a>
						<a href="{{ path('app_drug_application_edit', { 'id': drugApplication.id }) }}" class="btn--edit" title="Upravit"></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
