{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">

		<h1>Zaznamenání podání léku</h1>

		{{ form_start(form, {'attr' : {'class': 'fm'}}) }}
			{{ form_widget(form, {'attr' : {'class': 'fm__wrapper'}}) }}
			<div class="fm__btn">
				<input type="submit" value="Zaznamenat" class="btn" />
			</div>
		{{ form_end(form) }}

		<a href="{{ path('app_drug_application_index') }}" class="btn btn--back">Zpět na všechna podání léků</a>
	</div>
{% endblock %}
