{% extends 'app/appBase.html.twig' %}

{% block body %}
	<div class="container">

		<h1>Podání léku</h1>

		<table class="grid grid--show">
			<tbody>
				<tr>
					<th>Datum a čas</th>
					<td>{% if drugApplication.time %}{{ drugApplication.time|date('d.m.Y H:i:s') }}{% endif %}</td>
				</tr>
				<tr>
					<th>Aplikováno osobou</th>
					<td>{{ drugApplication.appliedBy }}</td>
				</tr>
			</tbody>
		</table>
		<ul>
			<li>
				<a href="{{ path('app_drug_application_index') }}" class="btn btn--back">Zpět na výpis</a>
				<a href="{{ path('app_drug_application_edit', { 'id': drugApplication.id }) }}" class="btn">Upravit</a>
			</li>
		</ul>
	</div>
{% endblock %}
