$el: .nav;

$(el) {
  &__wrapper {
    display: inline-block;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;

    &.nav__s {
      &--user a {
        color: #00ff6a;
        &:after {
          height: 0;
          background-color: #00ff6a;
        }
      }
      &--admin a {
        color: #00fdea;

        &:after {
          height: 0;
          background-color: #00fdea;
        }
      }
    }

    &.current {
      a:after {
        width: 100%;
      }
    }

    a {
      display: block;
      padding: 12px 10px;
      font-size: 18px;
      font-weight: 600;
      color: #fff;

      &:hover {
        &:after {
          width: 100%;
        }
      }

      &:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        margin: 0 auto;
        transition-timing-function: $transition-easing;
        transition-duration: .2s;
        background-color: #fff;
      }
    }
  }
}
