$el: .grid;

$(el) {
  width: 100%;
  margin: 26px auto 60px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.11);

  &--empty {
    margin: 66px auto;
    font-size: 28px;
    text-align: center;
  }

  &__pagginator {
    text-align: center;
  }

  &--show {
    max-width: 600px;
    margin: 26px 0 60px 0;
    border: 1px solid #ccd4da;
    background: #fff;

    tr:nth-child(even) th {
      width: 40%;
      /* background-color: #f9f9f9; */
      border-bottom: 1px solid #e5eaef;
    }
  }

  thead tr {
    background-color: #5ea4d68c;
  }

  th {
    padding: 12px 22px;
    font-weight: 600;
    text-align: left;

    &:first-child {
      padding-left: 16px;
    }
  }

  tr:hover td {
    background-color: #f9f9f9;

    a {
      opacity: .86;
    }
  }

  td {
    padding: 10px 22px;
    transition: .3s;
    border-bottom: 1px solid #e5eaef;

    &:first-child {
      padding-left: 16px;
    }
  }

  /* tr:nth-child(even) td {
    background-color: #f9f9f9;
  } */

  a {
    display: inline-block;
    float: right;
    transition: .3s;
    text-decoration: underline;
    opacity: .3;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}
