{% extends 'admin/adminBase.html.twig' %}
{% block title %}Oddělení | nové{% endblock %}

{% block body %}
	<div class="container">
		<h1>Nové oddělení</h1>

		{{ form_start(form, {'attr' : {'class': 'fm'}}) }}
			{{ form_widget(form, {'attr' : {'class': 'fm__wrapper'}}) }}
			<div class="fm__btn">
				<input type="submit" value="Vytvořit" class="btn" />
			</div>
		{{ form_end(form) }}

		<a href="{{ path('admin_department_index') }}" class="btn btn--back">Zpět na výpis</a>
	</div>
{% endblock %}
