{% extends 'admin/adminBase.html.twig' %}

{% block body %}
    <h1>Department creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Vytvořit" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_department_index') }}">Zpět na výpis</a>
        </li>
    </ul>
{% endblock %}
