{% extends 'admin/adminBase.html.twig' %}
{% block title %}Oddělení | nové{% endblock %}

{% block body %}
	<div class="container">
		<h1>Nové oddělení</h1>

		{{ form_start(form) }}
			{{ form_widget(form) }}
			<input type="submit" value="Vytvořit" />
		{{ form_end(form) }}

		<ul>
			<li>
				<a href="{{ path('admin_department_index') }}">Zpět na výpis</a>
			</li>
		</ul>
	</div>
{% endblock %}
